<!-- Footer -->
  <footer class="bg-gray-900 text-white py-10">
    <div class="container mx-auto px-6 md:px-20">
      <div class="grid grid-cols-1 md:grid-cols-6 gap-6">
        <!-- Logo and Description -->
        <div class="md:col-span-2">
          <div class="mb-4">
            <img src="/assets/images/SPPU Engineers logo.png" alt="SPPU Engineers Logo" class="h-16 w-auto">
          </div>
          
          <p class="text-gray-400 mb-4">
            SPPU Engineers provides the ultimate solution for engineering student's academic journeys. From personalized study materials to professional career resources, we help students achieve their academic and career goals with ease.
          </p>
          <div class="flex space-x-3">
            <a href="https://whatsapp.com/channel/0029VazCBjG4dTnCX3ctd23M" aria-label="Whatsapp" title="Whatsapp" class="bg-gray-800 p-2 rounded-full hover:bg-gray-700">
              <img src="https://img.icons8.com/?size=100&id=16713&format=png&color=000000" alt="Whatsapp" class="w-6 h-6">
            </a>
            <a href="https://t.me/sppuengineersss" aria-label="Telegram" title="Telegram" class="bg-gray-800 p-2 rounded-full hover:bg-gray-700">
              <img src="https://img.icons8.com/?size=100&id=63306&format=png&color=000000" alt="Telegram" class="w-6 h-6">
            </a>
            <a href="https://instagram.com/sppuengineersss" aria-label="Instagram" title="Instagram" class="bg-gray-800 p-2 rounded-full hover:bg-gray-700">
              <img src="https://img.icons8.com/?size=100&id=BrU2BBoRXiWq&format=png&color=000000" alt="Instagram" class="w-6 h-6">
            </a>
            <a href="https://linktr.ee/sppuengineersss" aria-label="Linktree" title="Linktree" class="bg-gray-800 p-2 rounded-full hover:bg-gray-700">
              <img src="https://img.icons8.com/?size=100&id=GfTOMrwiax2M&format=png&color=000000" alt="Linktree" class="w-6 h-6">
            </a>
          </div>
        </div>

        <!-- About SPPU Engineers -->
        <div>
          <h4 class="font-bold text-white mb-4">Platform</h4>
          <ul class="space-y-2 text-gray-400">
            <li><a href="/info/features/" class="hover:text-gray-200">What We Offer</a></li>
            <li><a href="/download/" class="hover:text-gray-200">Download App</a></li>
            <li><a href="/pages/community/" class="hover:text-gray-200">Join Community</a></li>
            <li><a href="/#testimonials" class="hover:text-gray-200">Student Testimonials</a></li>
            <li><a href="/about-us/" class="hover:text-gray-200">About SPPU Engineers</a></li>
            <li><a href="/info/our-mission/" class="hover:text-gray-200">Our Mission</a></li>
            <li><a href="/partner/" class="hover:text-gray-200">Partner With Us</a></li>
          </ul>
        </div>

        <!-- Study Materials -->
        <div>
          <h4 class="font-bold text-white mb-4">Contents & Features</h4>
          <ul class="space-y-2 text-gray-400">
            <li><a href="/syllabus/" class="hover:text-gray-200">Syllabus</a></li>
            <li><a href="/study-materials/" class="hover:text-gray-200">Study Materials</a></li>
            <li><a href="/resources/" class="hover:text-gray-200">Career Resources</a></li> 
            <li><a href="/projects/" class="hover:text-gray-200">Projects & Ideas</a></li>
            <li><a href="/competitions/" class="hover:text-gray-200">Competitions & Challenges </a></li>
            <li><a href="/tools/" class="hover:text-gray-200">SGPA and CGPA Tools</a></li>
            <li><a href="/info/topper-rewards/" class="hover:text-gray-200">Topper Rewards</a></li>
  
          </ul>
        </div>

        <!-- Student Helps -->
        <div>
          <h4 class="font-bold text-white mb-4">Student Help</h4>
          <ul class="space-y-2 text-gray-400">
            <li><a href="/info/academic-calendar/" class="hover:text-gray-200">Academic Calendar</a></li>
            <li><a href="/info/exam-timetable/" class="hover:text-gray-200">Exam Timetable</a></li>
            <li><a href="http://collegecirculars.unipune.ac.in/Important%20Circulars/Forms/Active%20Circulars.aspx" target="_blank" class="hover:text-gray-200">SPPU Circulars</a></li>
            <li><a href="/info/career-roadmap/" class="hover:text-gray-200">Career Roadmaps</a></li>
            <li><a href="/info/exam-and-result-help/" class="hover:text-gray-200">Exam & Result Help</a></li>
            <li><a href="/info/student-process-help/" class="hover:text-gray-200">Student Process Help</a></li>
            <li><a href="/updates/" class="hover:text-gray-200">Platform Updates</a></li>  
          </ul>
        </div>

        <!-- Support -->
        <div>
          <h4 class="font-bold text-white mb-4">Support and Legal</h4>
          <ul class="space-y-2 text-gray-400">
            <li><a href="/contact/" class="hover:text-gray-200">Contact Us</a></li>
            <li><a href="/#faqs" class="hover:text-gray-200">FAQs</a></li>
            <li><a href="/pages/feedback/" class="hover:text-gray-200">Feedback</a></li>
            <li><a href="/pages/legal/trust-and-safety/" class="hover:text-gray-200"> Trust & Safety</a></li>
            <li><a href="/pages/usage-details/" class="hover:text-gray-200">Usage Guides</a></li>
            <li><a href="/pages/legal/disclaimer/" class="hover:text-gray-200">Disclaimer</a></li>
            <li><a href="/pages/legal/copyright/" class="hover:text-red-600">Copyright & Ownership</a>
          </ul>
        </div>
      </div>
      
      <!-- Disclaimer -->
      <div class="mt-10 border-t border-gray-700 pt-4 px-4 md:px-20">
        <p class="text-gray-400 text-sm text-center leading-relaxed">
          Disclaimer: SPPU Engineers is an independent student-led platform and is not officially affiliated with or endorsed by Savitribai Phule Pune University (SPPU). All study material is curated from publicly available academic resources to help students in affiliated colleges.
        </p>
      </div>

      <!-- Bottom Row -->
      <div class="mt-4 border-t border-gray-700 pt-6 flex flex-col md:flex-row items-center justify-between">
        <!-- Copyright -->
        <div class="text-gray-400 font-bold">
          © 2025 SPPU Engineers
        </div>
        <!-- Legal Links -->
        <div class="text-gray-400 space-x-4 mt-4 md:mt-0 text-center md:text-left">
          <a href="/terms-and-conditions/" class="hover:text-gray-200">Terms & Conditions</a>
          <a href="/privacy-policy/" class="hover:text-gray-200">Privacy Policy</a>
          <a href="/refund-and-cancellation/" class="hover:text-gray-200">Cancellation and Refund Policy</a>
        </div>
      </div>
    </div>
  </footer>
